:root {
  /* FONTS */
  /* font-family: ; */
  --defult-p-size: min(max(calc(0.8rem + 1vw)), 30px);
  --defult-line-height: min(max(calc(1rem + 1.5vw)), 3rem);
  --defult-h2-size: min(max(calc(1.5rem + 1vw)), 64px);
  --defult-h1-size: calc(1.2rem + 2vw);
  --defult-p-style: #000;
  --defult-a-size: calc(1rem + 1vw);
  --defult-button-size: calc(0.6rem + 1vw);
  /* COLOR VARIABLES */
  --footer-clr: #fff;
  --white: #fff;
  --black: #000;
  --background-color: green;
  --background-yellow: #ffce01;
  --background-orange: #f26f21;
  --background-blue: #577590;
  --btn-active: blue;
  /* --gallery-card-clr: #fafafaf1; */
  --gallery-card-clr: rgba(219, 233, 238, 0.7);
  --homepage-card-gradient: linear-gradient(
    to bottom,
    rgba(245, 246, 252, 0.52),
    rgba(19, 50, 117, 0.73),
    rgba(245, 246, 252, 0.52)
  );
  --box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
  /* ANIMATION VARIABLES */
  --defult-transition: all 0.44s ease;
}

@font-face {
  font-family: gotham;
  font-weight: 100;
  src: url(../fonts/GothamRoundedLight_21020.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: block; */
}

body {
  margin: 0;
  padding: 0;
  font-family: gotham, Arial, Helvetica, sans-serif;
}
a:link {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}
.body__index {
  /* transition: background 2s ease; */
  height: fit-content;
  background-color: var(--background-blue);
  background-color: var(--background-orange);

  /* width: 100vw; */
  margin: 0;
}

/* .homepage {
  display: flex;
  justify-content: center;
} */

/* .homepage__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.hero__section {
  /* background-color: var(--background-orange); */
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--background-orange);
  justify-content: center;
  /* gap: 10vw; */
  align-items: center;
  flex-wrap: wrap;
}
.hero__text {
  font-size: calc(0.5rem + 2.5vw);
}
.hero__img-container {
  background-color: lightgreen;
  box-sizing: content-box;
}
.hero__img {
  width: auto;
  min-width: 320px;
  height: 850px;
  /* object-fit: contain;
  aspect-ratio: 1/2;
  mix-blend-mode: color-burn; */
}
/* //////////////////////////////////////////////////// */

.intro__item {
  position: relative;
  background-color: #d7d7d8;
  overflow: hidden;
  max-height: 450px;
  transition: var(--defult-transition);
}
@media (min-width: 860px) {
  .intro__container {
    opacity: 1;
    display: grid;
    height: 100vw;
    /* grid-auto-flow: dense; */
    justify-content: center;
    width: 60vw;
    min-width: 320px;
    grid-gap: 20px;
    grid-template-columns: repeat(10, minmax(10px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); */
    grid-template-rows: repeat(auto-fill, 3vw);
    grid-auto-rows: 10px;
    grid-auto-flow: row;
  }
  .intro__text {
    font-size: clamp(14px, 1.5vw, 35px);
    background: none;
  }
  .intro__item {
    overflow: visible;
  }
}
.intro__section {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.intro__item {
  /* background-color: lightsteelblue; */
  /* box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px; */
}
.intro__text {
  /* background-color: lightsteelblue; */
  /* font-size: var(--defult-a-size); */
  border-radius: 5px;
  padding: 1rem;
  min-height: 200px;
  /* overflow: hidden; */
}
.intro__text p {
  /* background-color: rgba(211, 211, 211, 0.2); */
  font-weight: 600;
}

.intro__image img:hover {
  scale: 1.025;
  filter: brightness(1);
  box-shadow: var(--box-shadow);
}
.intro__image img {
  overflow: hidden;
  transition: var(--defult-transition);
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(0.8);
  /* filter: blur(5px); */
  /* filter: brightness(0.4); */
  /* filter: contrast(200%); */
  /* filter: drop-shadow(16px 16px 20px blue); */
  /* filter: grayscale(50%); */
  /* filter: hue-rotate(90deg); */
  /* filter: invert(75%); */
  /* filter: opacity(25%); */
  /* filter: saturate(30%); */
  /* filter: sepia(60%); */
}

.intro__text--one {
  grid-row: span 2;
  grid-column: span 10;
}
.intro__text--two {
  grid-row: span 3;
  grid-column: span 6;
}
.intro__text--three {
  grid-row: span 5;
  grid-column: span 4;
}
.intro__text--four {
  grid-row: span 3;
  grid-column: span 5;
}
.intro__text--five {
  grid-row: span 3;
  grid-column: span 10;
}

.intro__image--one {
  grid-row: span 3;
  grid-column: span 4;
}
.intro__image--two {
  grid-row: span 2;
  grid-column: span 2;
}
.intro__image--three {
  grid-row: span 3;
  grid-column: span 6;
}
.intro__image--four {
  grid-row: span 5;
  grid-column: span 4;
}
.intro__image--five {
  grid-row: span 4;
  grid-column: span 5;
}
.intro__image--six {
  grid-row: span 5;
  grid-column: span 5;
}
.intro__image--seven {
  grid-row: span 5;
  grid-column: span 6;
}
.intro__image--eight {
  grid-row: span 2;
  grid-column: span 2;
}
.intro__image--nine {
  grid-row: span 2;
  grid-column: span 6;
}
.intro__image--ten {
  grid-row: span 2;
  grid-column: span 5;
}
.intro__image--eleven {
  grid-row: span 2;
  grid-column: span 2;
}

/* SPESIFIC TEXT GRID LAYOUT */
/* WHAT NUMBERS MEAN: row-start / colum-start / row-end / colum-end */

/* .intro__text--one {
  grid-area: 1 / 1 / 1 / 11;
}
.intro__text--two {
  grid-area: 6 / 5 / 8 / 11;
}
.intro__text--three {
  grid-area: 8 / 1 / 10 / 8;
}
.intro__text--four {
  grid-area: 15 / 1 / 15 / 7;
}
.intro__text--five {
  grid-area: 17 / 4 / 19 / 11;
} */

/* SPESIFIC IMAGE GRID LAYOUT */
/* .intro__image--one {
  grid-area: 2 / 1 / 5 / 5;
}
.intro__image--two {
  grid-area: 5 / 1 / 8 / 5;
}
.intro__image--three {
  grid-area: 2 / 5 / 6 / 11;
}
.intro__image--four {
  grid-area: 8 / 8 / 12 / 11;
}
.intro__image--five {
}
.intro__image--one {
} */

/* //////////////////////////////////////////////////// */

.page-nav__section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-nav__frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  padding: 5vw 0;
  flex-wrap: wrap;
}

.page-nav__card {
  display: flex;
  justify-content: center;
  padding: calc(100px + 7vw) 0;
  width: calc(150px + 10vw);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  transition: var(--defult-transition);
  color: var(--white);
}
.page-nav__card h2 {
  font-size: var(--defult-h2-size);
}
.page-nav__card:hover {
  scale: 1.05;
  box-shadow: var(--box-shadow);
}

.page-nav__card--explore {
  background-image: var(--homepage-card-gradient),
    url(../images/library-1132573_1920.jpg);
}

.page-nav__card--exhibitions {
  background-image: var(--homepage-card-gradient),
    url(../images/roberto-nickson-396152.jpg);
}

.page-nav__card--special-events {
  background-image: var(--homepage-card-gradient),
    url(../images/andrew-ruiz-348421.jpg);
}

/* .fadein {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
}

.fadein p {
  max-width: 60vw;
} */

.homepage__section--wrap-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show p {
  opacity: 1;
}

/* @media (min-width: 1100px) { */
/* NOTE: mix vh&vw since we rotate wrap-edge  */
/* .homepage--wrap-edge {
    width: 100vh;
    height: 100vw;
  }

  .homepage--wrap-edge {
    width: 100vh;
    height: 100vw;
    flex-direction: row;
    padding-right: 50px;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100vh);
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
  }
  .homepage__section--wrap-inner {
    flex-direction: row;
    width: 400vw;
    transform-origin: top left;
    transform: rotate(90deg) translateY(-100vh);
  }
}  */
