.body__visit-page,
body {
  background-color: var(--background-orange);
}

.container {
  margin: 10px;
  border: 2px solid;
  background-color: lightslategray;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  /* padding: 5vw; */
  /* flex-wrap: wrap; */
}

/* all paragraphs on the page */
.visit__p {
  font-size: var(--defult-p-size);
}
/* all h2 and h1's on the page */
.visit__h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
  padding-bottom: 1vw;
}
.visit__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section {
  margin-top: calc(50px + 3vw);
  min-width: 300px;
  max-width: 750px;
}
.admission__section {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.admission-details__container {
  padding: 5vw;
}
.admission-details__child {
}
.admission-details__child__h1 {
  padding-bottom: 50px;
  font-size: var(--defult-h1-size) 3rem;
}
.admission-details__child__p {
  max-width: 750px;
  font-size: var(--defult-p-size);
}

/*//////////////// FORM CONTAINER ///////////////////////////// */
.admission-booking__container {
  padding-top: 100px;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.admission-booking__form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.admission-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admission-form form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.admission-form input {
  display: flex;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(150px + 7vw);
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  outline: none;
  background: rgb(235, 235, 235);
  font-weight: 600;
}
.admission-form input:hover {
}
.admission-form input:active {
  border: none;
}
.admission-form button {
  margin-top: 15px;
  height: 30px;
  border-radius: 20px;
  border: none;
}
.admission-form button:hover {
  background-color: lightblue;
  border: 1px solid rgb(193, 189, 189);
}
.admission-form button:active {
  background-color: var(--btn-active);
}
#subscribe {
  margin-top: 0;
  height: 15px;
}

.admission-form label {
  margin: 30px 0 10px 0;
}

.admission-form button {
  width: 150px;
}
/*/ /////////////// VISIT SECTION ///////////////////////////// */

.visit__section {
}

.visit-location__container {
}

.visit-hours__container {
  /* padding: 5vw; */
  max-height: 718px;
}

.visit-details--p p {
  padding: 0 5vw 2vw 5vw;
}

.visit-details--map {
  display: flex;
  justify-content: center;
}
.visit-details--map iframe {
  padding: 40px 0 20px 0;
  width: 70vw;
  min-width: 270px;
  height: 30vw;
  min-height: 400px;
  max-width: 540px;
}

.visit-details {
}
.visit-hours__child {
  border-bottom: 1px solid black;
}

/* /////////STORE SECTION//////// */
.store__section {
  /* background-color: lightblue; */
  display: flex;
  /* max-width: 300px; */
  /* min-width: 319px; */
  flex-direction: row;
  flex-wrap: wrap;
  max-width: none;
}

.shop__container {
  max-width: 500px;
}

.cafe__container {
  max-width: 500px;
}

.accessibility__container {
  max-width: 500px;
}
